{% if is_windowed %}
auto {{ var_name }} = Windowed_Group_Builder<{{ in_struct }}, {{ out_struct }}{% if needs_key and key_struct %}, {{ key_struct }}{% endif %}>(
    {{ lambda_func }}
)
    .withName("{{ op_name }}")
{% if win_time %}
    .withTBWindow({{ win_size }}ULL, {{ win_slide }}ULL)
{% else  %}
    .withCBWindow({{ win_size }}ULL, {{ win_slide }}ULL)
{% endif %}
{% if needs_key %}
    .withParallelism({{ par }})
    .withKeyBy({{ key_lambda }})
    .build_keyed();
{% else %}
    .build();
{% endif %}
{% else %}
auto {{ var_name }} = Global_Group_Builder<{{ in_struct }}, {{ out_struct }}{% if key_struct %}, {{ key_struct }}{% endif %}>(
    {{ lambda_func }}
)
    .withName("{{ op_name }}")
{% if needs_key %}
    .withParallelism({{ par }})
    .withKeyBy({{ key_lambda }})
    .build_keyed();
{% else %}
    .build();
{% endif %}
{% endif %}