auto {{ var_name }} = Table_Sink_Builder<{{ in_struct }}>("{{ filepath }}",
    {{ formatter_func }}
)
    .withName("{{ op_name }}")
{% if header_str %}
    .withHeader("{{ header_str }}")
{% endif %}
    .withParallelism(1)
    .build();