[](const {{ input_struct }}& {{ input_var }}, {{ output_struct }}& {{ output_var }}) -> void {
    {% for k in keys %}
    {{ output_var }}.{{ k }} = {{ input_var }}.{{ k }};
    {% endfor %}

    {% for expr in accumulations %}
    {{ expr }}
    {% endfor %}
}