[](const std::string& line, {{ out_struct }}& record, uint64_t& timestamp) {
    std::stringstream ss(line);
    std::string token;

{% for field in fields %}
    std::getline(ss, token, ',');
    record.{{ field.name }} = parse_{{ field.type }}(token);
{% if field.name == time_col_name %}
    timestamp = parse_{{ field.type }}(token);
{% endif %}

{% endfor %}
}